body {
	text-align: center;
	font-family: 'Bowlby One SC', cursive;
	letter-spacing: 1px
}

table {
	border-collapse: collapse;
	width: 100%
}

td, th {
	border: 1px solid #dddddd;
}

tr:nth-child(even) {
	background-color: #dddddd;
}