html, body{
	margin: 0 auto;
}

#info_total {
   display: flex;
   justify-content: center;
}

#info_personal {
   margin: 30px;
   width: 600px;
   height: 300px;

   float: left;
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
}

#idiomas {
   margin: 30px;
   width: 300px;
   height: 300px;

   float: left;
   display: flex;
   flex-direction: row; 
   justify-content: center; 
   align-items: center;  
}

#border {
	border: 10px solid transparent;
	padding: 15px;
	border-image: url(../img/borde.jpg) round;
	border-image-slice: 10%;
}

#videos-1 {
	margin: 15px;
	float: left;
}

#videos-2 {
	margin: 15px;
	float: right;
}

.contacto {
   display: flex;
   flex-direction: row;     /* make main axis horizontal (default setting) */
   justify-content: center; /* center items horizontally, in this case */
   align-items: center;     /* center items vertically, in this case */
}

table {
	padding: 15px;
	margin: 0 auto;
	border-spacing: 15px;
	border-collapse: separate;
}

th {
  background-color: #4CAF50;
  color: white;
}

th, td {
	border-bottom: 1px solid #ddd;
}

body{
	font-family: 'Jost', sans-serif;
	display: table-cell;
	text-align: center
}

nav {
	background-color: green;
}
nav a {
	color: white;
}

footer {
	clear: both;
	background-color: gray;
}

#clear {
    clear: both;
}